<!DOCTYPE html>
<html lang="en">

<!------------------------------- HEAD -------------------------------------->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title></title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <script type="text/javascript" src="http://d3js.org//d3.v3.js"></script>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>

	<script src="https://apis.google.com/js/client:platform.js" async defer></script>
	<meta name="google-signin-clientid" content="637239282909-4msf0u4lojej7cibrpi062fl164mt3ad.apps.googleusercontent.com" />
	<meta name="google-signin-scope" content="profile" />
	<meta name="google-signin-cookiepolicy" content="single_host_origin" />


<!------------------------------- SCRIPT -------------------------------------->
<script>
function RefreshChart() 
{
    var text = "ignoring";//$('#inputField').val();
    $.ajax({
        type: "GET",
        url: "/getCircleData",
        data: {
            inputData: text
        },
        dataType: "json",
        success: function(response) {
			CreateChart(response);
        },
        error: function(xhr, errorType, exception) {  
           console.log('Error occured');
        }
    });
}

$(document).ready(function () {
	RefreshChart();
});



</script>
    

</head>

<!------------------------------- BODY -------------------------------------->
<body>
    <div class="container">

		<p id="name">Player:</p>
		<button id="signinButton">Sign in with Google</button>

        <!-- Jumbotron -->
        <div id="D3line" class="jumbotron">
            <svg id="visualization" width="1000" height="500"></svg>
        </div>

        <!-- Site footer -->
        <div class="footer">
            <p>© Lyemosis 2015</p>
        </div>
    </div>


<!------------------------------- SCRIPT -------------------------------------->
<script>

$("#D3line").mouseup(function(e) {
	x = e.offsetX;
	y = e.offsetY;

	$.ajax({
        type: "POST",
        url: "/addCircle",
        data: {
            x: x,
            y: y,
            name: 'NA',
        },
        dataType: "json",
        success: function(response) {
			RefreshChart();
        },
        error: function(xhr, errorType, exception) {  
           console.log('Error occured');
        }
    });

});

function CreateChart(data) 
{
	var vis = d3.select("#visualization");

	// clear circles first
    vis.selectAll("circle")
        .data([])
            .exit()
            .remove();

	var circles = vis.selectAll("circle").data(data);
	circles.enter()
		.append("svg:circle")
		.attr("stroke", "black")
		.attr("r", 10)
		.attr("cx", function (d) { return d.x; })
		.attr("cy", function (d) { return d.y; })
		.style("fill", function (d) { return d.c; })
}


// TODO set up recursive polling or long polling?
var circleCount = 0;
var refreshId = setInterval(function() {
	text = "ignore";
	$.ajax({
        type: "GET",
        url: "/pollCircleData",
        data: {
            inputData: text
        },
        dataType: "text",
        success: function(response) {
			if (response != String(circleCount))
			{
				RefreshChart();
				circleCount = response;
			}
        },
        error: function(xhr, errorType, exception) {  
           console.log('Error occured');
        }
    });

}, 2000);


// Attach a click listener to a button to trigger the flow.
var signinButton = document.getElementById('signinButton');
signinButton.addEventListener('click', function() {
	gapi.auth.signIn({
		'clientid': "637239282909-4msf0u4lojej7cibrpi062fl164mt3ad.apps.googleusercontent.com",
		'cookiepolicy': "single_host_origin",
		'scope': "profile",
		'callback': 'signinCallback'
	});
});


function signinCallback( authResult ) {

	if ( authResult[ 'status']['signed_in'] ) {

		gapi.auth.setToken( authResult );
		gapi.client.load( 'plus', 'v1', function() {
			getName();
		});

        getEmail();    
		$( '#revokeButton' ).show().data( 'loggedInWith', 'g+' ).text( 'Revoke G+' );
		$( '#gSignInWrapper' ).css( 'display', 'none' );
	} 
	else if ( authResult[ 'error' ] ) {
		console.log( 'Sign-in state: ' + authResult[ 'error' ] );
	}

}
function getName() {

	var request = gapi.client.plus.people.get( { 'userId': 'me' } );
	request.execute( function ( resp ) {
		var username = String( resp.displayName ).split( ' ' );
		console.log('name = ' + username[0]);
		$( '#name' ).text( 'Player: ' + username[0] + ' ' + username[1] );
	});	

}

function getEmail(){

	gapi.client.load( 'oauth2', 'v2', function() {
		var request = gapi.client.oauth2.userinfo.get();
		request.execute( function ( resp ) {	

			if ( resp[ 'email' ] ) {
				console.log('email = ' + resp['email']);
				//$( '#email' ).text( 'Email ' + resp[ 'email' ] );
			}

		});
	});

}
</script>
</body>
</html>

