<!DOCTYPE html>
<html lang="en">

<!------------------------------- HEAD -------------------------------------->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
    <title></title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/justified-nav/justified-nav.css" rel="stylesheet">
    <script type="text/javascript" src="http://d3js.org//d3.v3.js"></script>
    <script src="https://code.jquery.com/jquery-1.7.1.min.js"></script>


<!------------------------------- SCRIPT -------------------------------------->
<script>
function RefreshChart() 
{
    var text = "ignoring";//$('#inputField').val();
    $.ajax({
        type: "GET",
        url: "/getCircleData",
        data: {
            inputData: text
        },
        dataType: "json",
        success: function(response) {
			CreateChart(response);
        },
        error: function(xhr, errorType, exception) {  
           console.log('Error occured');
        }
    });
}

$(document).ready(function () {
	RefreshChart();
});
</script>
    

</head>

<!------------------------------- BODY -------------------------------------->
<body>
    <div class="container">

        <!-- Jumbotron -->
        <div id="D3line" class="jumbotron">
            <svg id="visualization" width="1000" height="500"></svg>
        </div>

        <!-- Site footer -->
        <div class="footer">
            <p>© Lyemosis 2015</p>
        </div>
    </div>


<!------------------------------- SCRIPT -------------------------------------->
<script>

$("#D3line").mousedown(function(e) {
	x = e.offsetX;
	y = e.offsetY;

	$.ajax({
        type: "POST",
        url: "/addCircle",
        data: {
            x: x,
            y: y,
            name: 'NA',
        },
        dataType: "json",
        success: function(response) {
			RefreshChart();
        },
        error: function(xhr, errorType, exception) {  
           console.log('Error occured');
        }
    });

});

function CreateChart(data) 
{
	var vis = d3.select("#visualization");

	var circles = vis.selectAll("circle").data(data);
	circles.enter()
		.append("svg:circle")
		.attr("stroke", "black")
		.attr("r", 10)
		.attr("cx", function (d) {
			return d.x;
		})
			.attr("cy", function (d) {
			return d.y;
		})
		.style("fill", "red")
}


// TODO set up recursive polling or long polling?
var circleCount = 0;
var refreshId = setInterval(function() {
	text = "ignore";
	$.ajax({
        type: "GET",
        url: "/pollCircleData",
        data: {
            inputData: text
        },
        dataType: "text",
        success: function(response) {
			if (response != String(circleCount))
			{
				RefreshChart();
				circleCount = response;
			}
        },
        error: function(xhr, errorType, exception) {  
           console.log('Error occured');
        }
    });

}, 2000);


</script>
</body>
</html>

